.intro {
    height: 100vh;
    width: 100vw;
    position: fixed;
    color: white;
    background: url("/img/intro_back.jpg") fixed;
    background-size: cover;
}

.menu-main {
    margin: 0;
    list-style: none;
    padding: 25px 0 5px;
    text-align: center;
    text-shadow: 0 0 7px white,
    0 0 42px aqua,
    0 0 82px aqua,
    0 0 92px aqua;
}

.menu-main li {
    display: inline-block;
}

.menu-main li:after {
    content: "|";
    color: aqua;
    display: inline-block;
    vertical-align: top;
}

.menu-main li:last-child:after {
    content: none;
}

.menu-main a {
    text-decoration: none;
    font-family: "Xirod", sans-serif;
    color: white;
    letter-spacing: 2px;
    position: relative;
    padding-bottom: 5px;
    margin: 0 34px 0 30px;
    font-size: 17px;
    text-transform: uppercase;
    display: inline-block;
    transition: color .2s;
}

.menu-main a, .menu-main a:visited {
    color: white;
}

.menu-main a.current, .menu-main a:hover {
    color: aqua;
}

.menu-main a:before,
.menu-main a:after {
    content: "";
    position: absolute;
    height: 2px;
    top: auto;
    right: 50%;
    bottom: -5px;
    left: 50%;
    background: aqua;
    transition: .8s;
}

.menu-main a:hover:before, .menu-main .current:before {
    left: 0;
}

.menu-main a:hover:after, .menu-main .current:after {
    right: 0;
}

@media (max-width: 550px) {
    .menu-main {
        padding-top: 0;
    }

    .menu-main li {
        display: block;
    }

    .menu-main li:after {
        content: none;
    }

    .menu-main a {
        padding: 25px 0 20px;
        margin: 0 30px;
    }
}

.title {
    color: white;
    font-family: "Xirod", sans-serif;
    letter-spacing: 4px;
    font-size: 36px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20vh;
    text-shadow: 0 0 7px white,
    0 0 42px aqua;
}