@font-face {
    font-family: "Kusanagi";
    src: url("../webfonts/kusanagi.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Xirod";
    src: url("../webfonts/xirod.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    overflow-x: hidden;
}
